.App {
  align-content: center;
}

/* .homePage {
  display: flex;
}

#detailsPage {
  display: flex;
  width: 400px;
  border: 4px solid #bfffbc;
  padding: 20px;
  height: 400px;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  text-align: left;
  margin: auto;
  background-color: white;
}

.navBar {
  background-color: blue;
  color: brown;
} */
